<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotos</title>
</head>
<body>
    <h1>Minhas Fotos</h1>
    <ul>
        <li>
           <a href="#">home</a>
        </li>
        <li>
            <a href="#">viagens</a>
        </li>
        <li>
            <a href="#">casas</a>
        </li>
        <li>
            <a href="#">paisagens</a>
        </li>
    </ul>
</body>
</html>